
/*
font-family: 'Jura', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Abel', sans-serif;
font-family: 'Questrial', sans-serif;
font-family: 'Josefin Slab', serif;
font-family: 'Cormorant Garamond', serif;
font-family: 'Marcellus SC', serif;
font-family: 'Sumana', serif;
*/



/* * {outline: red 1px dotted;} */
body {
  background-color: #222222;

}
main {
  background-color: white;
    padding-bottom: 20px;

}
img {
  box-shadow: 1px 1px 15px;
  border-radius: 10px;
}

.freebirdFormviewerViewFormBanner {
  background-color: blue;
}

ul {
background-color: #242424;
border-radius: 9px;
padding-left: 10px;
margin-right: 15px;
}

nav li {
  display: inline-block;
  margin-right: -4px;
  background: #242424;
  padding: 15px;
  border-radius: 0px;
}

nav li a:link, nav li a:visited {
  color: #c44141;
}

nav li a:hover {
  color: lightblue;
}

nav {
  margin-top: 20px;
}

nav li:hover {
  background-color: #404040;
}

section div {
  display: inline-block;
}

header h1 {
  margin: 20px 20px;
  font-family: 'Sumana', serif;

}


p {
  float: left;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 25px;
}

article {
  padding: 25px;
}


section.row {margin-bottom: 20px;}

.form {
  color: white;
padding: 20px;
  width: 80%;
  margin-left: 10%;
  border-radius: 15px;
  background-color: #343434;
}


.scriptstyle {
  font-size: 50px;
margin-left: 20%;
width:60%;
font-family: 'Josefin Sans', sans-serif;
}



@media screen and (max-width:1024px) {
  img {
    width: 80%;
    margin-left: 10%;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  section {
    padding: 5%;
  }

  p {
  float: left;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 20px;
  }

div.large-4{

}

}


form {
  padding:15px 6px;
  font-size: 23px;
  font-family: 'Marcellus SC', serif;
}
