/* * {outline: red 1px dotted;} */
img {box-shadow: 1px 1px 15px;
border-radius: 10px;
}
.freebirdFormviewerViewFormBanner {
  background-color: blue;
}

nav li {
  display: inline-block;
  margin-right: 10px;
  background: #242424;
  padding: 15px;
  border-radius: 5px;
}
nav li a:link, nav li a:visited {
  color: lightgreen;
}
nav li a:hover {
  color: lightblue;
}
nav {
  margin-top: 20px;
}
nav li:hover {
  background-color: #404040;
}
section div {
  display: inline-block;
}
header h1 {
  margin: 20px 20px;
}


@media screen and (max-width:1024px){
  img {
    width: 80%;
    margin-left:10%;
  }
  section {
    padding: 5%;
  }
}




p {float: left;}

article {
  padding: 25px;
}
